<p class="lead">
    Hi! My name is Aishwarya Sharma and this is my weird little site. You can see my resume here as well as a link to any pet projects I decide to get into.
</p>
<p class="lead">
    I am a software developer that primarily works on the backend side dealing with Java and SQL, although I have worked with several different types of technologies in different fields. I love experimenting and trying out new technologies.
</p>
<p class="lead">
    On the personal side, my hobbies include reading, mostly fiction, and video gaming. I also enjoy trying out new kinds of food.
</p>
