<h2>Summary</h2>
<ul>
    <li>
        Software developer with experience in full software development life cycle for developing applications, user interfaces, data services and business logic.
    </li>
    <li>
        Knowledge and experience in both traditional and agile development methodologies.
    </li>
    <li>
        Excellent written and strong interpersonal communication skills with experience in creating software requirements, functional design specifications, use cases and activity diagrams.
    </li>
    <li>
        Good experience with technologies like Java, J2EE, JSP, Servlets, .NET(C# and VB) as well as C/C++.
    </li>
    <li>
        Expertise with Eclipse, NetBeans, Code::Blocks and Visual Studio IDE's.
    </li>
    <li>
        Experience in deployment of the J2EE applications on Apache Tomcat and Jboss EAP.
    </li>
    <li>
        Experience in using web services, both REST and SOAP.
    </li>
    <li>
        Experience in deployment of the .NET applications on IIS.
    </li>
    <li>
        Experience with JUnit in performing unit testing and determining the application functionality.
    </li>
    <li>
        Experienced in using mocking frameworks like Mockito and Powermock.
    </li>
    <li>
        Hands-on experience is using reporting tools and frameworks like Jasper.
    </li>
    <li>
        Proficient in RDBMS systems like MySQL and MS SQL Server.
    </li>
    <li>
        Experience with version control software like SVN and Git.
    </li>
    <li>
        Hands-on experience in designing web pages using HTML, Java Script, CSS.
    </li>
    <li>
        Hands-on experience with content management systems like Wordpress and Joomla.
    </li>
    <li>
        Excellent Object Oriented programming skills and problem solving capabilities.
    </li>
</ul>
<h2>Skills</h2>
<ul>
    <li>
        <b>Programming Languages:</b> Java, C/C++, Python, C# and VB(with .NET framework)
    </li>
    <li>
        <b>Java Frameworks:</b> Spring, Struts and Hibernate
    </li>
    <li>
        <b>Java Testing Frameworks:</b> JUnit, Mockito and Powermock
    </li>
    <li>
        <b>Reporting tools:</b> JasperSoft Studio, Jasper Reports Server and Jasper Reports Library
    </li>
    <li>
        <b>Web:</b> HTML, CSS, JavaScript
    </li>
    <li>
        <b>Web Services:</b> REST(RESTEasy) and SOAP
    </li>
    <li>
        <b>Web Servers:</b> Tomcat and JBoss EAP
    </li>
    <li>
        <b>Database:</b> MySQL, SQL Server, Oracle 10g/11g
    </li>
    <li>
        <b>Operating Systems:</b> Windows(95/98, 2000, XP, Vista/7/8), Linux(Ubuntu, Red Hat, openSUSE)
    </li>
    <li>
        <b>Revision Control System:</b> Git, SVN
    </li>
    <li>
        <b>Cloud Services:</b> Amazon Cloud/AWS(EC2 and S3)
    </li>
    <li>
        <b>IDE:</b> Eclipse, NetBeans, Visual Studio, PyCharm, Code::Blocks and Notepad++
    </li>
</ul>
<h2>Experience (2 years+)</h2>
<p>
    2014 – Present: <a href="https://www.infosys.com">Infosys</a> <br>
    <b>Role:</b> Systems Engineer and Business Analyst <br>
    <b>Description:</b> Infosys is a global leader in consulting, technology, and outsourcing solutions. They enable clients in more than 50 countries to outperform the competition and stay ahead of the innovation curve. <br>
</p>
<p>
    <b>Client</b> – <a href="http://dtcc.com/">DTCC</a>/<a href="http://www.clarientglobal.com/">Clarient</a> <br>
    <b>Technologies Used:</b> Java, Hibernate, JUnit with Mockito/Powermock, JBoss server(EAP 6.1), REST(RESTEasy), Oracle 11g(with SQL Developer) and Jasper Reports <br>
    <b>Responsibilities:</b>
    <ul>
        <li>
            Implemented security checks in the back end to prevent SQL injection attacks.
        </li>
        <li>
            Implemented JUnit tests(with Mockito/Powermock) to test code completeness.
        </li>
        <li>
            Worked with Jaspersoft Studio, Jasper Reports Server and Jasper Reports Library to implement reporting on the back end.
        </li>
        <li>
            Assisted project manager with tracking project progress.
        </li>
        <li>
            Created document artifacts(Systems and Specification documents).
        </li>
        <li>
            Helped coordinate large projects with several other department managers and staff.
        </li>
    </ul>
</p>
<p>
    2013 – 2014: <a href="http://www.nypti.org/">New York Prosecutors Training Institute</a> <br>
    <b>Technologies Used:</b> Visual Basic/C# .NET and SQL server 2008, Wordpress, PHP, HTML, CSS. <br>
    <b>Role:</b> Software Developer <br>
    <b>Description:</b> The New York Prosecutors Training Institute, Inc. (NYPTI) is a not-for-profit corporation created in 1995 by the District Attorneys Association of the State of New York. NYPTI’s mission is to provide comprehensive continuing legal education, training, advice, and assistance to New York State prosecutors.
</p>
<p>
    <b>Responsibilities:</b>
    <ul>
        <li>
            Added/Edited UI components(HTML/CSS/.NET tags as well as JavaScript components) in web applications.
        </li>
        <li>
            Maintenance of back end components which included bug fixing code and adding new functions/features to the applications.
        </li>
        <li>
            Tested web sites using Selenium and iMacros for Firefox. Database maintenance which involved maintenance of data tables, stored procedures and functions.
        </li>
        <li>
            Created a Wordpress plugin, using PHP, to integrate their e-zine with their Single Sign-On(SSO) portal.
        </li>
    </ul>
</p>
<h2>Education</h2>
<ul>
    <li>
        <b>Masters in Computer Science</b> – State University of New York, Albany, New York, USA.
    </li>
    <li>
        <b>Bachelors in Computer Science & Engineering</b> – Galgotias College of Engineering & Technology, Greater Noida, Uttar Pradesh, India.
    </li>
</ul>
<h2>Academic Projects</h2>
<ul>
    <li>
        Designed, developed and tested Albany Market, an online store, using J2EE and MySQL, deployed on Amazon EC2 and S3 and tested using Selenium.
    </li>
    <li>
        Designed, developed and tested Project Switch, an online portal that can be used be employees of any store to swap their work schedules, using PHP and MySQL deployed on a WAMP server.
    </li>
    <li>
        Analyzed and improved SimpleDB functionality using Java.
    </li>
    <li>
        Extended Lucene search engine to use new search algorithms.
    </li>
    <li>
        Designed, developed and tested a First Person Shooter game using the Unity game Engine(JavaScript).
    </li>
    <li>
        Developed an HTTP server using Java to service simple HTTP requests.
    </li>
    <li>
        Developed FTP client/server to exchange files using Java.
    </li>
    <li>
        Developed a File Reverser program using C++ on openSUSE.
    </li>
    <li>
        Developed a custom version of Tetris in C++ on RedHat Linux.
    </li>
    <li>
        Developed a GUI based Banking System simulation in C++ on Ubuntu.
    </li>
    <li>
        Developed a text-based Airline Reservation System simulation in C++ on RedHat Linux.
    </li>
</ul>
